.home-container {
    display: flex;
    padding: 52px 100px;
    gap: 118px;
    width: 100vw;
    max-width: 1024px;
}


h1 {
    font-size: 72px;
}

.hero-text {
    min-width: 499px;
}

.hero-box {
    display: flex;
    flex-direction: column;
    width: 500px;
    gap: 56px;
    align-items: flex-start;
}

.home-container .hero-image {
    width: 446.114px;
    height: 552.38px;
    flex-shrink: 0;
}

.hero-btn {
    font-size: 16px;
    padding-left: 54px;
    padding-bottom: 25px;
    padding-top: 25px;
    border: none;
    border-radius: 32px;
}

.hero-box .btn-text {
    display: flex;
    gap: 209px;
    align-items: center;
    justify-content: center;
}